[Unit]
Description=Periodic CompactDB application update check

[Timer]
OnBootSec=20min
OnUnitActiveSec=6h
RandomizedDelaySec=20min
Persistent=true

[Install]
WantedBy=timers.target
